# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc

# Data
data_raw/
data_proc/
!data_proc/business_tfidf_vectorizer.joblib

datasets/
*.parquet
*.csv
*.npz
*.npy



# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log
