# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc

# Data
data_raw/
# Ignore everything in data_proc
data_proc/*

# Keep vectorizer + empty directory marker
!data_proc/.gitkeep
!data_proc/business_tfidf_vectorizer.joblib
!data_proc/review_tfidf_vectorizer.joblib


datasets/
*.parquet
*.csv
*.npz
*.npy



# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# English Detection package
lid.176.bin