# Virtual environment
.venv/
env/
venv/

# Python cache
__pycache__/
*.pyc

# Data
data_raw/
data_proc/
datasets/
*.parquet
*.csv
*.npz
*.npy

# Models
models/
*.joblib
*.pkl

# VSCode
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log
